{% extends "base_classhelper.html" %}
{% load template_tags %}

{% block content %}
<div class="container-fluid">
 <div class="row-fluid">
  <div class="span9">
   <h1>Emner</h1>
   {% if subjects|length > 0 %}
    <div class="input-prepend">
        <span class ="add-on"><i class="icon-search"></i></span>
        <input class="span2" id="searchInput" type="text" size=200>
    </div>
    <table class="table table-striped table-bordered" id="subjectTable">
        <thead>
            <th>Emnekode</th>
            <th>Emnenavn</th>
            <th>Type</th>
            <th>Rating</th>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td><a href="{{ subject.get_absolute_url }}">{{ subject.subject_code }}</a></td>
                    <td>{{ subject.subject_name }} </td>
                    <td>{{ subject.get_subject_type_display }} </td>
                    <td>{% stars subject.get_rating.total_rating subject.subject_code 'total_rating' %} 
                        <span class="rating-count">({{ subject.get_rating.total_rating_count }})</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   {% else %}
    <p>Ingen emner atm</p>
   {% endif %}
  <a href="{% url "subject_new" %}"><button class="btn btn-primary">Add</button></a>
 </div>
 <div class="span3">
    <div class="well">
        {% include "filterbar.html" %}
    </div>
 </div>
</div>
<script>
    initTags();
</script>
{% endblock content %}


